@font-face {
    font-family: header-font;
    src: url('starter/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: action-items-font;
    src: url('starter/assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: regular;
    src: url('starter/assets/fonts/outfit/static/Outfit-Regular.ttf')
}

@font-face {
    font-family: semi-bold;
    src: url('starter/assets/fonts/outfit/static/Outfit-SemiBold.ttf')
}

body {
    background-color: hsl(30, 54%, 90%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.2rem;

    img {
        padding: 2em 2em 1em 2em;
        border-radius: 2.8rem;
    }

    h1 {
        font-family: 'header-font';
        font-weight: normal;
        letter-spacing: 0.03em;
    }

    p {
        color: hsl(30, 10%, 34%);
        font-family: regular;
    }

    hr {
        border: 0.01em solid hsl(30, 18%, 87%);
    }

    .action-items {
        font-family: action-items-font;
    }

    .information {
        margin: 0 2em 1em 2em;

        .prep-time {
            background-color: hsl(330, 100%, 98%);
            border-radius: 1.0rem;
            padding: 0.6em 0 1em 1.2em;
            margin: 2em 0 0 0;
            color: hsl(30, 10%, 34%);



            h2 {
                color: hsl(332, 51%, 32%);
                font-family: semi-bold;
                font-weight: unset;

            }

            ul {
                padding-left: 1.5em;
            }

            li {
                margin-bottom: 1em;
                padding-left: 1.2em;
                font-family: regular;
            }

            li::marker {
                color: hsl(332, 51%, 32%);
            }
        }
    }

    .ingredients {
        h2 {
            font-family: header-font;
            color: hsl(14, 45%, 36%);
            letter-spacing: 0.03em;
            margin-bottom: 0.65em;
        }

        ul {
            padding: 0 0 1em 1.2em;
        }

        li {
            padding-left: 1em;
            color: hsl(30, 10%, 34%);
            font-family: regular;
            margin-bottom: 0.5em;
            font-size: 0.85em;
        }

        li::marker {
            color: hsl(14, 45%, 36%);
        }
    }

    .instructions {
        h2 {
            font-family: header-font;
            color: hsl(14, 45%, 36%);
            letter-spacing: 0.03em;
            font-weight: unset;
            margin-bottom: 0.65em;
        }

        ol {
            padding: 0 0 1em 1.2em;
        }

        li {
            padding: 0 0 0.8em 1em;
            color: hsl(30, 10%, 34%);
            font-family: regular;
            margin-bottom: 0.5em;
            font-size: 0.85em;
        }

        li::marker {
            color: hsl(14, 45%, 36%);
            font-family: semi-bold;
        }
    }
}