body {
   background-color: hsl(30, 54%, 90%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    img {
        padding: 2em 2em 1em 2em;
        border-radius: 2.4rem;
    }
}